@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Open+Sans&family=Oswald:wght@300&family=Source+Serif+4&display=swap');
/* 
  font-family: 'Oswald', sans-serif; 
  font-family: 'Bodoni Moda', serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Source Serif 4', serif;
*/

/* Root Styling */

:root {
  --light : #f8f9fa;
  --darker: #828181;
  --dark: #343a40;
  --primary: #f15bb5;
  --secondary: #2ec4b6;
  --border: #e9ecef;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

*>*{
  box-sizing: border-box;
}

/* Global Styling */

.text-light {
  color:var(--light); 
}
.text-darker {
  color:var(--darker);
}
.text-dark {
  color:var(--dark);
}
.text-primary {
  color:var(--primary);
}
.text-secondary {
  color:var(--secondary);
}
.text-border {
  color:var(--border);
}

.bg-light {
  background-color: var(--light);
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: auto;
}

.img-fluid {
  width: 100%;
}

.text-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.secondary-title {
  font-family: 'Bodoni Moda', serif;
}

.body-text {
  font-family: 'Source Serif 4', serif;
}

.display-1 {
  font-size: 22px;
}

.display-2 {
  font-size: 16px;
}

.display-3 {
  font-size: 10px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.object-fit {
  max-height: 160px;
  height: 120px;
  width: 120px;
  object-fit: fill;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.mt-2 {
  margin-top: 10px;
}

.mt-3 {
  margin-top: 50px;
}

.mb-3 {
  margin-bottom: 30px;
}

.px-1 {
  padding-left: 5px;
  padding-right: 5px;
}

.pl-1 {
  padding-left: 80px;
}

.pr-1 {
  padding-right: 80px;
}

.px-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.py-1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-3 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-3-b {
  padding-bottom: 30px;
}

.py-3-t {
  padding-top: 30px;
}

.floatL {
  float: left;
}

.floatR {
  float: right;
}

.thumbnail {
  width: 100%;
  height: 500px;
  object-fit: cover;
  padding-bottom: 60px;
}

.articleIMG3 {
  width: 33%;
  object-fit: contain;
}

.articleIMG2 {
  object-fit: contain;  
  margin-left: auto;
  margin-right: auto;
  width: 48%;
}

.articleIMG1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  object-fit: contain;
}

.articleVID2 {
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  padding-right: 70px;
  width: 48%;
}

.next-article {
  text-align: center;
  padding-top: 60px;
}

/*Section Styling*/

  /* ------ Nav Menu ------ */

    .navbar {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px;
    }

    .nav-brand {
      font-family: 'Oswald', sans-serif;
      font-weight: bold;
      align-self: center;
      font-size: 32px;
    }

    .collapse {
      align-self: center;
    }

    .nav-link {
      font-size: 18px;
      margin: 12px;
      color: var(--dark);
      font-family: 'Bodoni Moda', serif;
    }

    .nav-link:hover {
      color: var(--darker);
    }

    .toggle-button {
      font-size: 21px;
      background-color: transparent;
      border: none;
      position: absolute;
      right: 0;
      margin: 8px 10px;
      display: none;
    }

    .toggle-button:focus {
      outline: none;
    }



  /* ------ Nav Menu ------ */

  /* ------ Main ------ */

    #site-main {
      margin-top: 8em;
    }

    #posts {
      margin-bottom: 5em;
    }

    .grid {
      margin: 0 auto;
    }

    .grid .grid-item {
      width: calc(33.333333% - 20px);
      margin-bottom: 3em;
    }



  /* ------ Main ------ */


  /* ------ Footer ------ */

  #footer {
    padding-top: 4em;
  }

  #footer .copyrights {
    padding: 10px 0px;
    border-top: 2px solid var(--light);
  }

  .row {
    display: flex;
    padding-bottom: 10px;
  }

  .col-2 {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 35px;
  }

  .footer-title {
    font-size: 19px;
  }


  /* ------ Footer ------ */

  /* ------ Aritcle Page ------ */

  #post{
    padding: 0 2em;
    margin-bottom: 4em;
    border-top: 2px solid var(--light);
  }


  /* ------ Aritcle Page ------ */

  /* Media Query */

  @media(max-width: 627px) {

    .navbar {
      flex-direction: column;
    }

    .toggle-button {
      display: initial;
    }

    .collapse {
      max-height: 0;
      overflow: hidden;
      transition: all 0.9s cubic-bezier(0.51,-0.15,0,0.42);
    }

    .collapse.nav-link {
      display: block;
      text-align: center;
    }

    .collapse-toggle {
      max-height: 500px;
    }

    .grid .grid-item {
      width: calc(50% - 20px);
    }

    .row {
      flex-wrap: wrap;
    }

    .col-2 {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .articleIMG3 {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      object-fit: contain;
    }

   .articleIMG2 {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      object-fit: contain;
    }

    .articleVID2 {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      object-fit: contain;
    }


  }

  @media(max-width: 550px) {
    .grid .grid-item {
      width: calc(100% - 20px);
    }
  }