@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Open+Sans&family=Oswald:wght@300&family=Source+Serif+4&display=swap');
/* 
  font-family: 'Oswald', sans-serif; 
  font-family: 'Bodoni Moda', serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Source Serif 4', serif;
*/

:root {
    --black: #000000;
    --nav-bar: #f8f9fa;
    --nav-link: #343a40;
    --nav-link-hover: #828181; 
    --article-background: #fbfbfb;
    --light-text: #535353;
    --light-grey: #f7f7f7;
}

/* ----------------------------------------------
                    Nav Bar Styling
------------------------------------------------*/

body {
    margin: 0;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 5em;
    background-color: var(--nav-bar);
}

nav a {
    color: var(--nav-link);
}

nav ul li {
    list-style-type: none;
}

nav ul li a:hover {
    color: var(--nav-link-hover);
}

.collapse {
    display: flex;
    justify-content: space-between;
    flex-grow: .5;
}

.brand {
    padding-top: 3px;
    padding-left: 10px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 32px;
}

.nav-link-container {
    display: flex;  
}

.nav-link {
    padding: 0 20px 0 20px;
    font-size: 19px;
    font-family: 'Bodoni Moda', serif;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.icon {
    font-size: 18px;
    padding: 0 20px 0 20px;
    margin: 5px;
}

.toggle {
    font-size: 25px;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    padding: 15px;
    margin-right: 13px;
    display: none;
}


/* ----------------------------------------------
                Main Site Styling
------------------------------------------------*/

.container {
    max-width: 1240px;
    padding: 0 15px 0 15px;
    margin: auto;
    margin-bottom: 5em;
  }

.article-container {
    display: flex;
    flex-direction: column;
    background-color: var(--article-background);
    padding: 0 20px 0 20px;
}

.article-title {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: var(--nav-link);
    padding-bottom: 20px;
    border-bottom: 2px solid var(--light-grey);
}

.article-header-img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    margin-top: 50px;
    padding-bottom: 60px;
  }

.content-text {
    font-family: 'Bodoni Moda', serif;
    font-size: 16px;
}

.date-text {
    margin-top: 6px;
    font-family: 'Bodoni Moda', serif;
    font-size: 13px;
    color: var(--light-text);
}

.l-pad {
    padding-left: 10px;
}

/* ----------------------------------------------
                Footer Styling
------------------------------------------------*/

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 1em;
}

.col-2 {
    max-width: 45%;
    padding: 0 15px 0 15px;
}

footer {
    padding-top: 4em;
}

.footer-container {
    max-width: 900px;
    margin: auto;
}

.featured-post {
    display: flex;
}

.featured-text {
    font-family: 'Bodoni Moda', serif;
    font-size: 19px;
    color: var(--nav-link);
}

.featured-body {
    font-size: 16px;
}

.featured-pic {
    height: 120px;
    width: 120px;
    object-fit: fill;
}

.contact-body {
    text-align: right;
    display: flex;
    flex-direction: column;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.email {
    gap: 8px;
    color: var(--light-text);
}

.copyrights {
    border-top: 2px solid var(--light-grey);
  }

.copyright-text {
    text-align: center;
    font-family: 'Bodoni Moda', serif;
    color: var(--light-text);
}

@media(max-width: 960px) {
    /* ----------------------------------------------
                    Nav Bar Styling
    ------------------------------------------------*/
    nav {
        flex-direction: column;
    }
    
    .nav-link-container {
        padding: 0;
    }

    .icon-container {
        flex-direction: row;
        align-items: center;
    }

    .nav-link {
        padding: 0 10px 0 10px;
    }

    .icon {
        padding: 0 10px 0 10px;
    }

    .toggle {
        display: initial;
    }

    .collapse {
        max-height: 0;
        overflow: hidden;
        transition: all .8s cubic-bezier(0.74, .42, .23, .98);
    }

    .collapse-toggle {
        max-height: 500px;
      }


    /* ----------------------------------------------
                    Main Site Styling
    ------------------------------------------------*/
    .footer-container {
        max-width: 600px;
        margin: auto;
    }
}

/* This media query is for the footer */
@media(max-width: 624px) {
    .row {
        justify-content: center;
    }

    .col-2 {
        max-width: 100%;
        text-align: center;
    }

    .contact-info {
        align-items: center;
    }

    .feature-description {
        display: none;
    }
}

/* This media query is for the navbar */
@media(max-width: 522px) {
    .collapse {
        flex-direction: column;
    }

    .nav-link-container {
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
        margin-bottom: 5px;
    }

    .icon-container {
        flex-direction: row;
        justify-content: center;
    }

    .icon {
        padding: 0 6px 0 6px;
    }
}